In [1]:
import pandas as pd
import numpy as np

In [4]:
movies_df=pd.read_csv('Analyzed_DataSets/movies_data.csv',index_col=0)

In [5]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","['Action', 'Adventure', 'Fantasy', 'Science Fi...","['culture clash', 'future', 'space war', 'spac...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",['James Cameron']
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","['Adventure', 'Fantasy', 'Action']","['ocean', 'drug abuse', 'exotic island', 'east...","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",['Gore Verbinski']
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"['Action', 'Adventure', 'Crime']","['spy', 'based on novel', 'secret agent', 'seq...","['Daniel Craig', 'Christoph Waltz', 'Léa Seydo...",['Sam Mendes']
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"['Action', 'Crime', 'Drama', 'Thriller']","['dc comics', 'crime fighter', 'terrorist', 's...","['Christian Bale', 'Michael Caine', 'Gary Oldm...",['Christopher Nolan']
4,49529,John Carter,"John Carter is a war-weary, former military ca...","['Action', 'Adventure', 'Science Fiction']","['based on novel', 'mars', 'medallion', 'space...","['Taylor Kitsch', 'Lynn Collins', 'Samantha Mo...",['Andrew Stanton']

In [8]:
movies_df.shape

(4808, 7)

In [51]:
movies_df_f=movies_df.dropna()

In [52]:
movies_df_f.shape

(4805, 7)

In [53]:
movies_df_f['overview']=movies_df_f['overview'].apply(lambda x:x.split())

/tmp/ipykernel_18311/3324854135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['overview']=movies_df_f['overview'].apply(lambda x:x.split())

In [54]:
movies_df_f.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","['Action', 'Adventure', 'Fantasy', 'Science Fi...","['culture clash', 'future', 'space war', 'spac...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",['James Cameron']
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","['Adventure', 'Fantasy', 'Action']","['ocean', 'drug abuse', 'exotic island', 'east...","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",['Gore Verbinski']
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","['Action', 'Adventure', 'Crime']","['spy', 'based on novel', 'secret agent', 'seq...","['Daniel Craig', 'Christoph Waltz', 'Léa Seydo...",['Sam Mendes']
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","['Action', 'Crime', 'Drama', 'Thriller']","['dc comics', 'crime fighter', 'terrorist', 's...","['Christian Bale', 'Michael Caine', 'Gary Oldm...",['Christopher Nolan']
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","['Action', 'Adventure', 'Science Fiction']","['based on novel', 'mars', 'medallion', 'space...","['Taylor Kitsch', 'Lynn Collins', 'Samantha Mo...",['Andrew Stanton']

In [55]:
movies_df_f['genres']=movies_df_f['genres'].apply(lambda x:eval(x))
movies_df_f['keywords']=movies_df_f['keywords'].apply(lambda x:eval(x))
movies_df_f['cast']=movies_df_f['cast'].apply(lambda x:eval(x))
movies_df_f['crew']=movies_df_f['crew'].apply(lambda x:eval(x))

/tmp/ipykernel_18311/25378821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['genres']=movies_df_f['genres'].apply(lambda x:eval(x))
/tmp/ipykernel_18311/25378821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['keywords']=movies_df_f['keywords'].apply(lambda x:eval(x))
/tmp/ipykernel_18311/25378821.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['cast']=movies_df_f['cast'].apply(lambda x:eval(x))
/tmp/ipykernel_18311/25378821.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['crew']=movies_df_f['crew'].apply(lambda x:eval(x))

In [56]:
movies_df_f['genres']=movies_df_f['genres'].apply(lambda x:[i for i in x])
movies_df_f['keywords']=movies_df_f['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies_df_f['cast']=movies_df_f['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies_df_f['crew']=movies_df_f['crew'].apply(lambda x:[i.replace(" ","") for i in x])

/tmp/ipykernel_18311/4270139440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['genres']=movies_df_f['genres'].apply(lambda x:[i for i in x])
/tmp/ipykernel_18311/4270139440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['keywords']=movies_df_f['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
/tmp/ipykernel_18311/4270139440.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['cast']=movies_df_f['cast'].apply(lambda x:[i.replace(" ","") for i in x])
/tmp/ipykernel_18311/4270139440.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['crew']=movies_df_f['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [60]:
movies_df_f.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [58]:
# movies_df_f['genres'][0]

In [59]:
# movies_df_f['crew'][0]

In [61]:
movies_df_f['tags']=movies_df_f['overview']+movies_df_f['genres']+movies_df_f['keywords']+movies_df_f['cast']+movies_df_f['crew']

/tmp/ipykernel_18311/2406111705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_f['tags']=movies_df_f['overview']+movies_df_f['genres']+movies_df_f['keywords']+movies_df_f['cast']+movies_df_f['crew']

In [62]:
movies_df_f.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [63]:
movies_df_final=movies_df_f[['movie_id','title','tags']]

In [64]:
movies_df_final.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [70]:
import nltk
nltk.download_shell()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> d

Download which package (l=list; x=cancel)?
  Identifier> stopwords

    Downloading package stopwords to /home/ashik/nltk_data...
      Unzipping corpora/stopwords.zip.

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> u

Nothing to update.

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

In [71]:
from nltk.corpus import stopwords

In [72]:
movies_df_final['tags']=movies_df_final['tags'].apply(lambda x:[word.lower() for word in x if word.lower() not in stopwords.words('english') ])

/tmp/ipykernel_18311/2409267097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_final['tags']=movies_df_final['tags'].apply(lambda x:[word.lower() for word in x if word.lower() not in stopwords.words('english') ])

In [73]:
movies_df_final.head()

,movie_id,title,tags
0,19995,Avatar,"[22nd, century,, paraplegic, marine, dispatche..."
1,285,Pirates of the Caribbean: At World's End,"[captain, barbossa,, long, believed, dead,, co..."
2,206647,Spectre,"[cryptic, message, bond’s, past, sends, trail,..."
3,49026,The Dark Knight Rises,"[following, death, district, attorney, harvey,..."
4,49529,John Carter,"[john, carter, war-weary,, former, military, c..."

In [74]:
movies_df_final.to_csv('Analyzed_DataSets/Final_movie.csv')